.justify-content-between {
    justify-content: space-between;
}

.d-flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-italic {
    font-style: italic;
}

.font-weight-bold {
    font-weight: bold;
}

.text-decoration-none {
    text-decoration: none;
}

.border-r {
    border-radius: 25px;
}